@page
@model CaoQuocViet.Pages.MH_LienHeModel
@{
    ViewData["Title"] = "Quản lý cửa hàng";
}

<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h3">Liên hệ</h1>
    </div>

    <h4>Tác giả</h4>
    <form>
        <ul>
            <li>Họ tên: Cao Quốc Việt</li>
            <li>Email: <a href="mailto:vietcao10@gmail.com"><i class="fa fa-envelope"></i> vietcao10@gmail.com</a></li>
            <li>Github: <a href="https://github.com/CaoQuocViet" target="_blank"><i class="fa fa-github"></i> https://github.com/CaoQuocViet</a></li>
            <li>Địa chỉ: TP. HCM</li>
        </ul>
    </form>
</main>
