@page
@using CaoQuocViet.Entities
@using CaoQuocViet.XuLyNghiepVu
@model CaoQuocViet.Pages.MH_LoaiHang_XoaModel
@{
    ViewData["Title"] = "Quản lý cửa hàng";
    string sInfo = string.Empty;
    bool bFlag = false;
    LoaiHang loaihang = new LoaiHang() {};

    string sLoaiHangMaSo = Request.Query["id"];

    LoaiHang? isLoaiHang = XL_LoaiHang.ReadInfo(sLoaiHangMaSo);

    if (null == isLoaiHang)
    {
        sInfo = "This loaihang is not exists";
        bFlag = true;
    }
    else
    {
        loaihang = isLoaiHang.Value;

        if (Request.Method == "POST")
        {
            bFlag = true;
            string sMaSo = Request.Form["id"];
            string sTen = Request.Form["name"];
            sInfo = XL_LoaiHang.Xoa(sMaSo, sTen);
            if (string.IsNullOrEmpty(sInfo))
            {
                Response.Redirect("/loaihang/index");
            }
        }
    }
}

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="col-sm-6 text-start fw-bold">Xóa loại hàng</p>
        @if (bFlag)
        {
            if (string.IsNullOrEmpty(sInfo))
            {
                <p class="col-sm-6 text-end text-success fw-bold">Xóa loaihang successfully</p>
            }
            else
            {
                <p class="col-sm-6 text-end text-danger fw-bold">@sInfo</p>
            }
        }
    </div>

    <form class="row g-3 mb-2" method="post">
        <div class="col-md-4">
            <label for="id" class="form-label">Mã loại hàng</label>
            <input class="form-control" type="text" id="id" name="id" value="@loaihang.MaSo" maxlength="30" readonly>
        </div>
        <div class="col-md-4">
            <label for="name" class="form-label">Tên loại hàng</label>
            <input class="form-control" type="text" id="name" name="name" value="@loaihang.Ten" maxlength="30" readonly>
        </div>
        <div class="col-md-4 d-sm-flex align-items-end justify-content-end pb-1">
            <input class="btn btn-sm btn-danger text-light" type="submit" value="Xóa">
        </div>
    </form>
</div>
